<head>

  <title>APP: home</title>

</head>

<body>


  <header>
    <p id="cabecera">A N G U L A R</p>
  </header>


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
  </ul>


  <div class="contenedor">

    
      <p>Angular (comúnmente llamado Angular 2+ o Angular 2) es un framework para aplicaciones web desarrollado en
        TypeScript,
        de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola
        página. Su objetivo es
        aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo
        para hacer
        que el desarrollo y las pruebas sean más fáciles. </p>

      <p>La biblioteca lee el HTML que contiene atributos de las etiquetas personalizadas adicionales, entonces obedece
        a las directivas de
        los atributos personalizados, y une las piezas de entrada o salida de la página a un modelo representado por las
        variables estándar de JavaScript.</p>

      <p>Angular se basa en clases tipo "Componentes", cuyas propiedades son las usadas para hacer el binding de los
        datos. En dichas
        clases tenemos propiedades (variables) y métodos (funciones a llamar).</p>
    

    
      <img [src]="'/assets/images/descarga.png'">
    



  </div>






  <footer id="footer">
    <p>Privacidad · Condiciones · Publicidad · Opciones de anuncios · Cookies · Angular ©</p>
  </footer>

</body>
