<head>

    <title>APP: login</title>
  
  </head>
  
  <body>
  
  
    <header>
      <p id="cabecera">A N G U L A R</p>
    </header>
  
  
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  
  
    <div class="contenedor">
  
      
        <p>LOGIN</p>
      
  
      
        <img [src]="'/assets/images/descarga.png'">
      
  
  
  
    </div>
  
  
  
  
  
  
    <footer id="footer">
      <p>Privacidad · Condiciones · Publicidad · Opciones de anuncios · Cookies · Angular ©</p>
    </footer>
  
  </body>
  
